<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        table, th, td {border:1px solid black;}
    </style>
</head>
<body>
    <%- include('head.ejs') %>
    <script src="labo4.js"> </script>
</body>
</html>