<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda en Línea</title>
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h2>VentaMini</h2>
            <div class="men">
                <button class="btn" onclick="location.href='productos'">Productos</button>
                <button class="btns">Compras</button>
            </div>
            <div class="menu">
                <button class="btn-logout" onclick="location.href='..'">Cerrar Sesión</button>
            </div>
        </div>
    </header>
    <main class="content">
        <p>no se han hecho compras</p>
    </main>    
</body>
</html>